@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33, 50%, 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 80%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 40, 85%, 46%, 1;
    --primary-foreground: 210 20% 100%;
    --secondary: 199, 57%, 27%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 33, 50%, 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --danger: 0 84.2% 60.2%;
    --danger-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 199, 27%, 57%;
    --ring: 262.1 83.3% 57.8%;
    --navbar: 224, 41%, 10%, 1;
    --navbar-foreground: 33, 50%, 97%;
    --shadow: 199, 57%, 27%, 0.4;

    --navbar-height: 4rem;
    --footer-min-height: 4.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 99%;
    --card: 220, 80%, 3%, 1;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 40, 85%, 44%, 1;
    --primary-foreground: 0 0% 100%;
    --secondary: 199, 57%, 27%, 1;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 82.8% 37.6%;
    --destructive-foreground: 210 20% 98%;
    --danger: 0 84.2% 60.2%;
    --danger-foreground: 210 20% 98%;
    --border: 199, 57%, 40%, 0.6;
    --input: 215 27.9% 16.9%;
    --ring: 199, 57%, 27%, 1;
    --navbar: 0, 0%, 0%, 0.4;
    --shadow: 40, 85%, 46%, 0.4;
  }
}

@layer components {
  .card {
    @apply bg-card text-card-foreground;
  }
  .popover {
    @apply bg-popover text-popover-foreground;
  }
}

@layer utilities {
  .debug {
    @apply outline outline-2 outline-red-500;
  }

  .debug > * {
    @apply outline outline-2 outline-green-500;
  }

  .pos-center {
    @apply left-0 right-0 top-0 m-auto;
  }

  .fade-edges {
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  }
}
